.App {
  text-align: center;
  display: grid;
  grid-template-rows: 10vh 90vh;
}

header {
  display: grid;
  height: 100%;
  width: 100vw;
  grid-template-columns: 1fr 2fr 1fr 1fr;/*repeat(4, 1fr);*/
  background-color: #FFE481;
}

section {
  padding-top: 2em;
}

.smallLogo {
  height: 100%;
}

body {
  background-color: #FFD5EF;
}

#translated {
  background-color: #FFF5FF;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(247, 228, 228, 0.2);
  text-align: center;
}

button {
  /*background-color: #FFE481;*/
  display: inline-block;
  font-size: 16px;
}

#route {
  background-color: #FFD481;
  border: none;
}

#logout {
  border: none;
  background-color: #FFC48C;
}

#welcome, #transSearch {
  display: flex;
  flex-grow: 1;
  padding: 2px;
  width: 500px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

#submitButt, #loginButt {
  background-color: #FFB59E;
  padding: 15px;
  border: pink;
}

input {
  background-color: #FFF5FF;
  padding: 15px;
  flex-grow:1;
  border: none;
}

#hello {
  max-width: 300px;
  height: auto;
  float: left;
}

#translatedWrapper {
  padding: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}